extends: default

rules:
  document-start: disable
  truthy: disable
  line-length: disable
  comments:
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: consistent
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .git/
  .venv/
  bootstrap/templates/
  infrastructure/*/templates/
  infrastructure/*/*/templates/
  infrastructure/*/charts/
  infrastructure/*/*/charts/
  .ansible
